<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>의사 로그인 화면</title>
</head>
<body>
   <div align="center">
   <h3>의사 로그인 페이지</h3>
   <form method="post" action="/docPro">
    <table border="1" align="center">      
      <tr>
         <th> 아이디 </th>
         <td> <input name="id" />
      </tr>
      <tr>
         <th> 진료과목 </th>
         <td> 
           <select name="major" size="1">
          	<option value="">### 진료과목 선택 ###</option>
          	<option value="소아과">소아과</option>
          	<option value="내과">내과</option>
          	<option value="외과">외과</option>
          	<option value="피부과">피부과</option>
          	<option value="소아과">소아과</option>
       	  </select>
         </td>  
      </tr>
      <tr>
         <th colspan="2" align="center">
           <input type="submit" value='login'/>
         </th>
      </tr>
    </table>       
   </form>
   <a href= '/'> [main 화면]</a>
   </div>
</body>
</html>

