<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>간호사 로그인 페이지</title>
</head>
<body>
   <div align="center">
   <h3>간호사 로그인 페이지</h3>
   <form method="post" action="/nursePro">
    <table border="1" align="center">      
      <tr>
         <th> 아이디 </th>
         <td> <input name="id" />
         <th colspan="2" align="center">
           <input type="submit" value='login'/>
         </th>
      </tr>
    </table>       
   </form>
   <a href= '/'> [main 화면]</a>
   </div>
</body>
</html>