<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title> 적금 검색 페이지 </title>
</head>
<body>
    <div align="center">
        <h2> 적금검색 페이지 </h2>
        <br>
        <h3> code : 101 ~ 131 </h3>
        <form method="post" action="/savingPro">
            <table border="1" width="300">
                <tr>
                    <th> 적금코드 </th>
                    <th> <input name="code" size="5"/> </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <input type="submit" value="찾기"/>
                    </th>
                </tr>
            </table>
        </form>
        <a href="/"> 이전 </a>
    </div>
</body>
</html>