<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> insert_form page</title>
</head>
<body>
    <div align="center">
        <h2> 레코드 추가 화면 </h2>
        <form method="post" action="/insert">
            코드 : <input type="text" name="code" size="15"> <br> <!-- type 생략시 text -->
            이름 : <input name="name" size="15"> <br>
            수량 : <input name="su" size="15"> <br>
            단가 : <input name="dan" size="15"> <br><br>
            <input type="submit" value="저장"/>
            <a href="/"> [취소] </a>
        </form>
    </div>
</body>
</html>